    <div class="runs-list">
      <div class="left-container">
      </div>
      <table class="runs-table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Started On</th>
            <th scope="col">Completed On</th>
            <th scope="col">Kilometers</th>
            <th scope="col">Location</th>
            <th scope="col">&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let run of runs">
            <td>{{ run.id }}</td>
            <td>{{ run.title }}</td>
            <td>{{ run.startedOn }}</td>
            <td>{{ run.completedOn }}</td>
            <td>{{ run.kilometers }}</td>
            <td>{{ run.location }}</td>
            <td> 
              <button (click)="delete(run)"> Delete</button>
            </td>
            <!-- <td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td> -->
          </tr>
        </tbody>
      </table>
      <div class="right-container">
      </div>
    </div>
