
<main class="main">
    <div class="card-body">
      <div class="spacing">
        <img class="logo" src="assets/gym.png" alt="LightWork logo">
      </div>
      <div class="menu">
        <h2 class="card-title text-center text-white py-3">{{ title }}</h2>
        <!-- <ul class="option">
          <li class="list-inline-item"> -->
          <div class="dropdown">
            <button class="menu-buttons">
              <p>Runs</p>
            </button>
            <div class="dropdown-content">
              <a routerLink="/runs" class="btn btn-info">List Runs</a>
              <a routerLink="/addrun" class="btn btn-info">Add Run</a>
            </div>
          </div>
          <div class="dropdown">
            <button class="menu-buttons">
              <p>BenchPress</p>
            </button>
            <div class="dropdown-content">
              <a routerLink="/benches" class="btn btn-info">List BenchPress</a>
              <a routerLink="/addbench" class="btn btn-info">Add BenchPress</a>
            </div>
          </div>
      </div>
    </div>
    <router-outlet></router-outlet>
</main>
<router-outlet />

<footer>
  <h4>Copyright © 2024 LightWork. All Rights Reserved.</h4>
</footer>
